.posts-container {
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.8s;
    justify-content: center;
}

.post-single {
    max-width: 290px;
    min-width: 250px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.4), 0px 1px 5px 0px rgba(0, 0, 0, 0.05);
    margin: 20px 15px;
    cursor: pointer;
}


/* .posts-dark {
    background-color: #6b778d;
} */

.posts-dark .post-card {
    background-color: #423D46;
}

.posts-dark .post-card .card-head {
    color: #E2E2E2;
}

.posts-dark .post-card span,
p {
    color: #E2E2E2 !important;
}

.post-title {
    padding: 10px 20px;
    height: 100px;
}

.post-image {
    height: 300px;
}


/* .post-image img {
    height: 300px;
} */

.post-desc {
    padding: 10px 20px;
    height: 100px;
}

.post-card {
    width: 45%;
    margin: 20px;
    transition: all 1s;
}

.btn-liked svg {
    fill: maroon;
}

.btn-unliked svg {
    fill: mistyrose;
}

.spinner {
    margin: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-top: 20%;
    margin-left: 40%;
}

.create-post_link {
    padding: 10px 30px;
    margin: auto;
    /* position: absolute; */
    color: black;
    background-color: darksalmon;
    font-weight: 700;
    /* margin-top: 40%; */
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 5px;
}

.create-post_link-cont {
    margin-top: 20%;
    margin-left: 42%;
    width: max-content;
}

.create-post_link:hover {
    color: darkslategrey;
    text-decoration: none;
    background-color: hotpink;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.posts-dark .post-card_cust {
    background-color: #423D46;
    box-shadow: 0px 3px 7px 0px rgba(255, 255, 255, 0.3), 0px -3px 5px 0px rgba(255, 255, 255, 0.3);
}

.post-card_cust {
    width: 380px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 20px 20px;
    background-color: rgb(89, 78, 163);
    transition: all 2s;
}

.post-card_cust-avatar {
    display: flex;
    align-items: center;
    padding: 15px;
}

.post-card_cust-avatar .avatar-image {
    width: 50px;
}

.post-card_cust-avatar .avatar-image img {
    max-width: 100%;
    border-radius: 100%;
}

.post-card_cust-avatar .avatar-info {
    padding-left: 7px;
}

.post-card_cust-avatar .avatar-info .avatar-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0px;
    color: #fff;
}

.post-card_cust-avatar .avatar-info .posted-date {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}

.post-card_cust-container {
    padding-top: 10px;
}

.post-card_cust-container .post-card_cust-img {
    width: 100%;
}

.post-card_cust-container .post-card_cust-img img {
    max-width: 100%;
    width: 100%;
    height: 300px;
}

.post-card_cust-container .post-card_cust-body {
    padding: 10px;
}

.post-card_cust-title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.post-card_cust-desc {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.post-card_cust-hashtags {
    width: max-content;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(143, 23, 19);
    color: #fff;
    margin-top: 5px;
}

.post-card_cust-footer {
    padding: 0 10px 10px 10px;
    /* display: flex; */
    /* align-items: center; */
}

.like-btn {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(160, 33, 11);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 10px 10px 0px;
}