.navbar-cust {
    /* background-color: coral; */
    position: fixed;
    top: 0;
    right: 0;
    /* width: calc(100% - 200px); */
    width: 100%;
    z-index: 9;
    transition: all 2s;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-weight: 600;
    font-size: 28px;
}

.icon-light {
    fill: #17223b !important;
    cursor: pointer;
}

.icon-dark {
    fill: #E2E2E2 !important;
    cursor: pointer;
}

.navbar-normal {
    background-color: rgb(89, 121, 190);
}

.navbar-dark {
    background-color: #2D2D2D;
}

.navbar-dark .navbar-cust_menu a {
    color: #e2e2e2;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: darkblue;
}

.navbar-cust_menu a {
    color: rgb(242, 233, 236);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.5s;
    text-shadow: 1px 1px rgba(213, 21, 30, 0.733);
    letter-spacing: 1px;
}

.navbar-cust_menu a:hover {
    color: rgb(243, 84, 44);
    text-shadow: 1px 2px rgba(175, 24, 32, 0.733);
}

.navbar-cust_menu .nav-item {
    padding: 0 15px;
}

.navbar-cust_menu .prof-img img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.navbar-cust_menu .prof-img {
    padding-right: 10px;
}

.navbar-cust_menu .prof-link {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 1, 0.2);
    /* border: 1px solid lightseagreen; */
}

.navbar-dark .prof-link {
    box-shadow: 0px 3px 7px 0px rgba(255, 255, 255, 0.3), 0px -3px 5px 0px rgba(255, 255, 255, 0.3);
}

.link-login {
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 1, 0.2);
    /* border: 1px solid lightseagreen; */
}

.prof-drop {
    position: absolute;
    padding: 15px;
    background-color: lightsalmon;
    color: crimson;
    top: 47px;
    right: 1%;
    width: max-content;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.navbar-dark .prof-drop {
    background-color: #363636;
    color: #DFDFDF;
    box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.2);
}

.prof-drop a {
    padding: 5px 8px;
    margin: 10px 0;
    transition: all 0.5s;
    font-size: 15px;
}

.prof-drop_link-par {
    margin: 7px 0;
}

.prof-drop a:hover {
    background-color: honeydew;
    color: indianred;
    border-radius: 3px;
}